---
import Layout from "../layouts/Layout.astro";
import CommitsView from "../components/CommitsView";
import { commits } from "../lib/data";
---

<Layout title="Commits">
  <div class="max-w-6xl mx-auto px-6 py-12">
    <h2 class="mb-6">Commits</h2>
    <CommitsView client:load commits={commits} />
  </div>
</Layout>
