---
import Layout from '../layouts/Layout.astro';
import ProjectsView from '../components/ProjectsView.tsx';
import { projects } from '../lib/data';
---

<Layout title="Projects">
  <div class="max-w-6xl mx-auto px-6 py-12">
    <h2 class="mb-6">Projects</h2>
    <ProjectsView client:load projects={projects} />
  </div>
</Layout>
